/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    background-color: #f1f5f9;
    font-weight: 400;
    padding: 0;
    margin: 0;
    min-height: 100%;
    font-family: Poppins, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}