<div [ngClass]="{
    'field grid': fieldConfig.layout === 'horizontal',
    'field': fieldConfig.layout !== 'horizontal'
  }">
    <span [ngClass]="{
      'col-fixed': fieldConfig.layout === 'horizontal'
      
    }" [ngStyle]="{ width: fieldConfig.width }">{{ fieldConfig.label }}</span>
    <div [ngClass]="{
      col: fieldConfig.layout === 'horizontal',
      'pt-1': fieldConfig.layout !== 'horizontal'
    }">
        <app-at-input-password-component class="w-full" [config]="fieldConfig"></app-at-input-password-component>
        @if(isInvalid()){
        <small class="text-red-500">
            {{ getErrorMessage() }}
        </small>
        }
    </div>
</div>