:host ::ng-deep .p-button {
    width: 100%;
}

:host ::ng-deep .btn-gg .p-button {
    background: var(--p-red-500);
    border: var(--p-red-500) !important;
    width: 10rem !important;
}

:host ::ng-deep .btn-fb .p-button {
    background: var(--p-blue-600) !important;
    border: var(--p-blue-600) !important;
    width: 10rem !important;
}